.DS_Store
node_modules
/dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.pot
*.pyc
*.pid
.vscode
__pycache__/
env/
local_settings.py
db.sqlite3
api/tacticalrmm/static
celerybeat-schedule
meshagent.exe
app.ini
.env.dev
