.md-header {
    background-color: black !important;
    color: white !important;
}
.md-search__input {
    background-color: white !important;
}
.md-search__icon[for=__search]{
    color: initial;
}
