[Unit]
Description=scnRMM Nats Api
After=nats.service

[Service]
Type=simple
ExecStart=/usr/local/bin/nats-api -config {{ backend_dir }}/api/scnrmm/nats-api.conf
User={{ user }}
Group={{ user }}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target