asgiref==3.4.1
asyncio-nats-client==0.11.5
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels_redis==3.3.1
chardet==4.0.0
cryptography==36.0.1
daphne==3.0.2
Django==3.2.11
django-cors-headers==3.10.1
django-ipware==4.0.2
django-rest-knox==4.1.0
djangorestframework==3.13.1
future==0.18.2
loguru==0.5.3
msgpack==1.0.3
packaging==21.3
psycopg2-binary==2.9.3
pycparser==2.21
pycryptodome==3.12.0
pyotp==2.6.0
pyparsing==3.0.6
pytz==2021.3
qrcode==6.1
redis==4.1.0
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
twilio==7.4.0
urllib3==1.26.8
uWSGI==2.0.20
validators==0.18.2
vine==5.0.0
websockets==9.1
zipp==3.7.0
drf_spectacular==0.21.1