asgiref==3.9.1
celery[redis]==5.5.3
hiredis==3.2.1
certifi==2025.8.3
channels==4.3.1
channels_redis==4.3.0
cryptography==45.0.7
Django==4.2.25
django-cors-headers==4.7.0
django-allauth[socialaccount]==65.2.0
django-filter==25.1
django-rest-knox==4.2.0
djangorestframework==3.15.2
drf-spectacular==0.28.0
meshctrl==0.1.15
msgpack==1.1.0
nats-py==2.11.0
packaging==25.0
psutil==7.1.0
psycopg[binary]==3.2.10
pycparser==2.22
pycryptodome==3.23.0
pyotp==2.9.0
pyparsing==3.2.3
python-ipware==2.0.2
qrcode==8.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tldextract==5.3.0
twilio==8.13.0
urllib3==2.5.0
uvicorn[standard]==0.37.0
uWSGI==2.0.30
validators==0.24.0
vine==5.1.0
websockets==13.1
zipp==3.23.0
pandas==2.3.2
kaleido==1.0.0
jinja2==3.1.6
markdown==3.8.2
plotly==6.3.0
weasyprint==66.0
ocxsect==0.1.5
