amqp==2.6.1
asgiref==3.3.0
billiard==3.6.3.0
celery==4.4.6
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
decorator==4.4.2
Django==3.1.3
django-cors-headers==3.5.0
django-rest-knox==4.1.0
djangorestframework==3.12.2
future==0.18.2
idna==2.10
kombu==4.6.11
loguru==0.5.3
msgpack==1.0.0
packaging==20.4
psycopg2-binary==2.8.6
pycparser==2.20
pycryptodome==3.9.9
pyotp==2.4.1
pyparsing==2.4.7
pytz==2020.4
qrcode==6.1
redis==3.5.3
requests==2.24.0
six==1.15.0
sqlparse==0.4.1
twilio==6.47.0
urllib3==1.25.11
uWSGI==2.0.19.1
validators==0.18.1
vine==1.3.0
websockets==8.1
zipp==3.4.0
